<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<moip>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
				<requireBillingAddress>1</requireBillingAddress>
<!--
2017-04-25
«Today we do not support creating clients that are from other countries that are not from Brazil,
so this error occurs. We do not have a forecast to be international.»
https://mage2.pro/t/3820/2
-->
				<countries>BR</countries>
				<country_restriction>whitelist</country_restriction>
				<currency>BRL</currency>
<!-- 2017-07-14 «How is a bank card form implemented in mercadolivre.com.br?» https://mage2.pro/t/4065 -->
				<installments>1,2,3,4,5,6,10,12</installments>
				<title>Cartão de crédito</title>
				<title_backend>Moip</title_backend>
			</moip>
		</df_payment>
        <payment>
            <dfe_moip>
				<model>Dfe\Moip\Method</model>
            </dfe_moip>
        </payment>
    </default>
</config>