<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<virtualType name='Dfe\Moip\Validator\Currency' type='Df\Framework\Validator\Currency'>
		<arguments><argument name='iso3' xsi:type='string'>BRL</argument></arguments>
	</virtualType>
</config>