<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='moip'
				showInDefault='1'
				showInStore='1' showInWebsite='1' sortOrder='1315'
				translate='label'
			>
				<label>Moip</label>
				<dfExtension>Dfe_Moip</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<group
					id='common'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
				>
					<label>Common</label>
					<comment><![CDATA[]]></comment>
					<field
						id='enable'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Dfe\Moip\Backend\Enable</backend_model>
						<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/moip' target='_blank'>Moip</a>» payment extension?]]></comment>
						<config_path>df_payment/moip/enable</config_path>
						<dfValidator>Dfe\Moip\Validator\Currency</dfValidator>
						<label>Enable?</label>
					</field>
					<field
						id='test'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[<a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a>]]></comment>
						<config_path>df_payment/moip/test</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Sandbox Mode?</label>
					</field>
					<field
						dfRows='5'
						id='testPublicKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='Df\Framework\Form\Element\Textarea'
					>
						<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
						<config_path>df_payment/moip/testPublicKey</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>1</field>
						</depends>
						<label>Test Public Key (Chave pública)</label>
						<validate>required-entry</validate>
					</field>
					<field
						id='testPrivateToken'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
						<config_path>df_payment/moip/testPrivateToken</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>1</field>
						</depends>
						<label>The «Token» part of your Test Private Key (Chave de autenticação)</label>
						<validate>required-entry</validate>
					</field>
					<field
						id='testPrivateKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
						<config_path>df_payment/moip/testPrivateKey</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>1</field>
						</depends>
						<label>The «Key» (Chave) part of your Test Private Key (Chave de autenticação)</label>
						<validate>required-entry</validate>
					</field>
					<field
						dfRows='5'
						id='livePublicKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='5'
						translate='label'
						type='Df\Framework\Form\Element\Textarea'
					>
						<comment><![CDATA[<a href='https://mage2.pro/t/3659' target='_blank'>How to get it?</a>]]></comment>
						<config_path>df_payment/moip/livePublicKey</config_path>
						<label>Live Public Key (Chave pública)</label>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>0</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						id='livePrivateToken'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='6'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
						<config_path>df_payment/moip/livePrivateToken</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>0</field>
						</depends>
						<label>The «Token» part of your Live Private Key (Chave de autenticação)</label>
						<validate>required-entry</validate>
					</field>
					<field
						id='livePrivateKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='7'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
						<config_path>df_payment/moip/livePrivateKey</config_path>
						<depends>
							<field id='enable'>1</field>
							<field id='test'>0</field>
						</depends>
						<label>The «Key» (Chave) part of your Live Private Key (Chave de autenticação)</label>
						<validate>required-entry</validate>
					</field>
					<field
						id='googlePrivateKey'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='8'
						translate='label'
						type='obscure'
					>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<comment><![CDATA[Moip API v2 <a href='https://dev.moip.com.br/v2.0/reference#endereco' target='_blank' title='Moip API Reference'>accepts only the well-structured customer addresses</a>, whereas Magento 2 gathers the customers addresses in a plain text form.
						<config_path>df_payment/moip/googlePrivateKey</config_path>
						<label>Private Key for Google Maps Geocoding API</label>
	<br/>The extension uses the <a href='https://developers.google.com/maps/documentation/geocoding' target='_blank'  title='Google Maps Geocoding API Reference'>Google Maps Geocoding API</a> to convert a plain text address to the Moip format.
	<br/>Use <a href='https://mage2.pro/t/3828' target='_blank' title='How to generate a key for the Google Maps Geocoding API?'>my instruction</a> to get the key.]]></comment>
						<config_path>df_payment/moip/googlePrivateKey</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Private Key for Google Maps Geocoding API</label>
						<validate>required-entry</validate>
					</field>
					<field
						id='webhooks'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='9'
						translate='label'
						type='Dfe\Moip\FE\Webhooks'
					>
						<label>Webhooks</label>
						<depends><field id='enable'>1</field></depends>
					</field>
				</group>
				<group
					id='card'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
				>
					<label>Bank Card</label>
					<comment><![CDATA[]]></comment>
					<field
						id='enable'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[Enable the bank card payment option?]]></comment>
						<dfValidator>Dfe\Moip\Validator\Currency</dfValidator>
						<label>Enable?</label>
					</field>
					<field
						id='title'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='text'
					>
						<comment><![CDATA[It is shown on the checkout screen.]]></comment>
						<depends><field id='enable'>1</field></depends>
						<label>A title for the bank card payment option</label>
						<validate>required-entry</validate>
					</field>
					<field
						id='prefill'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='select'
					>
						<comment><![CDATA[If you do not want it, then please use the following <a href='https://mage2.pro/t/3776' target='_blank'>test cards</a>.]]></comment>
						<config_path>df_payment/moip/prefill</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Prefill the payment form in the test mode?</label>
						<source_model>Dfe\Moip\Source\Prefill</source_model>
					</field>
					<field
						id='installments'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='text'
					>
						<label>Installments</label>
						<comment><![CDATA[A comma-separated list of installment periods (in months).<br/>The maximum period is 12.<br/>To disable installments make the field empty.]]></comment>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='actionForNew'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='5'
						translate='label'
						type='select'
					>
						<comment><![CDATA[A customer is regarded as <b>new</b>, if he does not have any order in the «Completed» or «Processing» state.]]></comment>
						<config_path>df_payment/moip/actionForNew</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Payment Action for a New Customer</label>
						<source_model>Df\Payment\Source\ACR</source_model>
					</field>
					<field
						id='actionForReturned'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='6'
						translate='label'
						type='select'
					>
						<config_path>df_payment/moip/actionForReturned</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Payment Action for a Returned Customer</label>
						<source_model>Df\Payment\Source\ACR</source_model>
					</field>
	<!-- `[Moip] The «Dynamic statement descripor» feature`: https://mage2.pro/t/4203 -->
					<field
						id='dsd'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='7'
						translate='label'
						type='text'
					>
						<label>Dynamic statement descripor</label>
						<comment><![CDATA[An arbitrary string to be displayed <a href='https://mage2.pro/t/4203' target='_blank' title='[Moip] The «Dynamic statement descripor» feature'>on your customer's bank card statement</a>.
	<br/>It is supported <b>only for the bank card payments</b>, and <b>only for the Visa and MasterCard</b> cards.
	<br/>It may be up to <b>13</b> characters, may not include <b><>"'</b> characters, and will appear on your customer's statement in capital letters.
	<br/>Non-ASCII characters are automatically stripped.
	]]></comment>
						<config_path>df_payment/moip/dsd</config_path>
						<depends><field id='enable'>1</field></depends>
	<!-- 2017-07-21 The maximum length is 13 characters: https://dev.moip.com.br/v2.0/reference#criar-pagamento -->
						<validate>validate-length maximum-length-13</validate>
					</field>
					<field
						id='prefillCardholder'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='8'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<config_path>df_payment/moip/prefillCardholder</config_path>
						<depends><field id='enable'>1</field></depends>
						<label>Prefill the cardholder's name from the billing address?</label>
					</field>
					<field
						id='min_order_total'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='9'
						translate='label'
						type='text'
					>
						<comment><![CDATA[]]></comment>
						<depends><field id='enable'>1</field></depends>
						<label>Minimum Order Total</label>
						<validate>validate-number validate-greater-than-zero</validate>
					</field>
					<field
						id='max_order_total'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='10'
						translate='label'
						type='text'
					>
						<comment><![CDATA[]]></comment>
						<depends><field id='enable'>1</field></depends>
						<label>Maximum Order Total</label>
						<validate>validate-number validate-greater-than-zero</validate>
					</field>
				</group>
				<group
					id='boleto'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
				>
					<label>Boleto bancário</label>
					<comment><![CDATA[]]></comment>
					<field
						id='enable'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[Enable the «Boleto bancário» payment option?]]></comment>
						<dfValidator>Dfe\Moip\Validator\Currency</dfValidator>
						<label>Enable?</label>
					</field>
					<field
						id='title'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='text'
					>
						<comment><![CDATA[It is shown on the checkout screen.]]></comment>
						<depends><field id='enable'>1</field></depends>
						<label>A title for the «Boleto bancário» payment option</label>
						<validate>required-entry</validate>
					</field>
					<field
						dfRows='3'
						id='instructions'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='Df\Framework\Form\Element\Textarea'
					>
						<label>Instructions to print on a boleto</label>
						<comment><![CDATA[Up to <b>3 lines</b>. You can use <a href='https://mage2.pro/t/1834' target='_blank'>the variables</a>.]]></comment>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='waitPeriod'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='text'
					>
						<label>Wait period for a payment</label>
						<comment><![CDATA[In days.]]></comment>
						<validate>validate-digits validate-digits-range digits-range-1-60</validate>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='waitPeriodType'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='5'
						translate='label'
						type='select'
					>
						<label>Wait Period Type</label>
						<source_model>Df\Config\Source\WaitPeriodType</source_model>
						<comment><![CDATA[You can set the working days with the<br/>«<b>General</b>» → «<b>General</b>» → «<b>Locale Options</b>» → «<b>Weekend Days</b>» option.]]></comment>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='min_order_total'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='6'
						translate='label'
						type='text'
					>
						<comment><![CDATA[]]></comment>
						<depends><field id='enable'>1</field></depends>
						<label>Minimum Order Total</label>
						<validate>validate-number validate-greater-than-zero</validate>
					</field>
					<field
						id='max_order_total'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='7'
						translate='label'
						type='text'
					>
						<comment><![CDATA[]]></comment>
						<depends><field id='enable'>1</field></depends>
						<label>Maximum Order Total</label>
						<validate>validate-number validate-greater-than-zero</validate>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>