<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='moip'
				showInDefault='1'
				showInStore='1' showInWebsite='1' sortOrder='1315'
				translate='label'
			>
				<label>Moip</label>
				<dfExtension>Dfe_Moip</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<dfValidator>Dfe\Moip\Validator\Currency</dfValidator>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/moip' target='_blank'>Moip</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='5'
					id='testPublicKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>Test Public Key (Chave pública)</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPrivateToken'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>The «Token» part of your Test Private Key (Chave de autenticação)</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='testPrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='obscure'
				>
					<label>The «Key» (Chave) part of your Test Private Key (Chave de autenticação)</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='prefill'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='select'
				>
					<label>Prefill the Payment Form with Test Data?</label>
					<source_model>Dfe\Moip\Source\Prefill</source_model>
					<comment><![CDATA[If you do not want it, then please use the following <a href='https://mage2.pro/t/3776' target='_blank'>test cards</a>.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					dfRows='5'
					id='livePublicKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>Live Public Key (Chave pública)</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3659' target='_blank'>How to get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePrivateToken'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='obscure'
				>
					<label>The «Token» part of your Live Private Key (Chave de autenticação)</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='10'
					translate='label'
					type='obscure'
				>
					<label>The «Key» (Chave) part of your Live Private Key (Chave de autenticação)</label>
					<comment><![CDATA[<ul class='df-note'><li><a href='https://mage2.pro/t/3659' target='_blank'>Where are the API credentials located?</a></li><li><a href='https://mage2.pro/t/3375' target='_blank'>How to create a sandbox account?</a></li></ul>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='googlePrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='obscure'
				>
					<label>Private Key for Google Maps Geocoding API</label>
					<comment><![CDATA[Moip API v2 <a href='https://dev.moip.com.br/v2.0/reference#endereco' target='_blank' title='Moip API Reference'>accepts only the well-structured customer addresses</a>, whereas Magento 2 gathers the customers addresses in a plain text form.
<br/>The extension uses the <a href='https://developers.google.com/maps/documentation/geocoding' target='_blank'  title='Google Maps Geocoding API Reference'>Google Maps Geocoding API</a> to convert a plain text address to the Moip format.
<br/>Use <a href='https://mage2.pro/t/3828' target='_blank' title='How to generate a key for the Google Maps Geocoding API?'>my instruction</a> to get the key.]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='installments'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='text'
				>
					<label>Installments</label>
					<comment><![CDATA[A comma-separated list of installment periods (in months).<br/>The maximum period is 12.<br/>To disable installments make the field empty.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='actionForNew'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='select'
				>
					<label>Payment Action for a New Customer</label>
					<source_model>Df\Payment\Source\ACR</source_model>
					<comment><![CDATA[A customer is regarded as <b>new</b>, if he does not have any order in the «Completed» or «Processing» state.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='actionForReturned'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='select'
				>
					<label>Payment Action for a Returned Customer</label>
					<source_model>Df\Payment\Source\ACR</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='textarea'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed in the Moip web interface alongside the payment.<br/>You can use <a href='https://mage2.pro/t/1834' target='_blank'>variables</a> in the description.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behaviour.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
			</group>
		</section>
	</system>
</config>