// 2017-08-09
#df_payment_moip_common_webhooks {
	ul {list-style-type: none; margin-top: -0.55rem;}
	li {
		line-height: 200%;
		//&:nth-child(even) {background-color: #f5f5f5;}
		span {vertical-align: middle;}
		&:hover .df-delete {display: inline;}
		.df-delete {
			cursor: pointer;
			display: none;
			font-size: 150%;
			padding-left: 0.5em;
			&:hover {font-weight: bold;}
		}
	}
}