// 2017-08-09
#df_payment_moip_common_webhooks {
	ul {list-style-type: none;}
	li {
		&:not(:first-child) {
			padding-top: 0.2em;
		}
		&:hover .df-delete {display: block;}
		.df-delete {
			display: none;
			position: relative;
			float: right;
			font-size: 150%;
			cursor: pointer;
			&:hover {font-weight: bold;}
		}
	}
}